<!doctype html>
<html>
<head>
    <title>Roulette Game</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    <div class="jumbotron text-center">
        <section class ="secBetAmount">
            <h2 class ="h2BetAmount"></h2>
            <button id="submitBet" type="button" name="submitBet">BET</button>
        </section>


      <button id="restBet" type="button" name="resetBet">RESET</button>

      <section class = "secPokerChips">
        <div class="pokerchips" data-value="1">1</div>
        <div class="pokerchips" data-value="10">10</div>
        <div class="pokerchips" data-value="50">50</div>
        <div class="pokerchips" data-value="100">100</div>
      </section>

    </div>

    <section class = "secPlayerTotal">
        <h3 class ="h3PlayerTotal">0</h3>
    </section>

    <section class ="secPlayerSelection">
        <h2 class ="h2PlayerChoice"></h2>
    </section>

    <section class ="secComputerSelection">
        <h2 class ="h2ComputerChoice"></h2>
    </section>

    <section class ="secResults">
        <h2 class ="h2Results"></h2>
    </section>

    <div class="roulette">
       <table>
           <tr class="nums">
               <td class="num black zero" rowspan="3"><span data-value="black">0</span></td>
               <td data-value="red" class="num red"><span data-value="red">3</span></td>
               <td data-value="black" class="num black"><span data-value="black">6</span></td>
               <td data-value="red" class="num red"><span data-value="red">9</span></td>
               <td data-value="red" class="num red"><span data-value="red">12</span></td>
               <td data-value="black" class="num black"><span data-value="black">15</span></td>
               <td data-value="red" class="num red"><span data-value="red">18</span></td>
               <td data-value="red" class="num red"><span data-value="red">21</span></td>
               <td data-value="black" class="num black"><span data-value="black">24</span></td>
               <td data-value="red" class="num red"><span data-value="red">27</span></td>
               <td data-value="red" class="num red"><span data-value="red">30</span></td>
               <td data-value="black" class="num black"><span data-value="black">33</span></td>
               <td data-value="red" class="num red"><span data-value="red">36</span></td>
           </tr>
           <tr class="nums">
               <td class="hidden"></td>
               <td data-value="black" class="num black"><span data-value="black">2</span></td>
               <td data-value="red" class="num red"><span data-value="red">5</span></td>
               <td data-value="black" class="num black"><span data-value="black">8</span></td>
               <td data-value="black" class="num black"><span data-value="black">11</span></td>
               <td data-value="red" class="num red"><span data-value="red">14</span></td>
               <td data-value="black" class="num black"><span data-value="black">17</span></td>
               <td data-value="black" class="num black"><span data-value="black">20</span></td>
               <td data-value="red" class="num red"><span data-value="red">23</span></td>
               <td data-value="black" class="num black"><span data-value="black">26</span></td>
               <td data-value="black" class="num black"><span data-value="black">29</span></td>
               <td data-value="red" class="num red"><span data-value="red">32</span></td>
               <td data-value="black" class="num black"><span data-value="black">35</span></td>
           </tr>
           <tr class="nums">
               <td class="hidden"></td>
               <td data-value="red" class="num red"><span data-value="red">1</span></td>
               <td data-value="black" class="num black"><span data-value="black">4</span></td>
               <td data-value="red" class="num red"><span data-value="red">7</span></td>
               <td data-value="black" class="num black"><span data-value="black">10</span></td>
               <td data-value="black" class="num black"><span data-value="black">13</span></td>
               <td data-value="red" class="num red"><span data-value="red">16</span></td>
               <td data-value="red" class="num red"><span data-value="red">19</span></td>
               <td data-value="black" class="num black"><span data-value="black">22</span></td>
               <td data-value="red" class="num red"><span data-value="red">25</span></td>
               <td data-value="black" class="num black"><span data-value="black">28</span></td>
               <td data-value="black" class="num black"><span data-value="black">31</span></td>
               <td data-value="red" class="num red"><span data-value="red">34</span></td>
       </table>
     </div>
</body>
<script type="text/javascript" src="main.js" >

</script>
</html>
